// Variables
/* Vaiables are place holders for storing informaton you want to reuse thorughout your styles.
You can store things like colours, font stacks or any css value you think you might want to reuse.
SASS uses the '$' to declare varibales */

// Colours
$primary: #3498db;
$primary-dark: #2980b9;
$secondary: #ccc;
$secondary-dark: #666;

$background: #f5f5f5;

//Font Stacks
$Ultra: Ultra, sans-serif;
$Skull: custom-skull;
  src: url('../fonts/custom-skull.eot?91897367');
  src: url('../fonts/custom-skull.eot?91897367#iefix') format('embedded-opentype'),
       url('../fonts/custom-skull.woff?91897367') format('woff'),
       url('../fonts/custom-skull.ttf?91897367') format('truetype'),
       url('../fonts/custom-skull.svg?91897367#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}